html{
    background-image: url("imeg/Invo2.jpg") ;
background-repeat:no-repeat  ;
background-size: 100%;
}



body{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    }

    #open-btn{
        color:#ffffff;
        background-image: url("imeg/stop_game.png") ;
        
    }
    #sidebar {
   color:#fdfdfd;
     width: 250px;
    height: 100vh;
    background-color: #1f023033;
    position: fixed;
    left: -250px;
    transition: left 0.3s ease-in-out;
    }
    
    #sidebar ul {
    list-style-type: none;
    padding: 0;
    margin-top: 50px;

    }
    #sidebar li {
    padding: 10px;
    border-bottom: 1px solid #250e3a;
    }
    #sidebar li:hover {
    background-color: #291330;
    }   

    #game , #spells,#bind, #about-box{
        position: relative;
        width: 1000px;
        height: 700px;
        background-color: rgba(128, 128, 128, 0.315);
        border: solid 3px rgb(0, 0, 0);
        padding: 20px;
        margin-left:  400px  ;
    text-align: center;
    }
    .buttons{ margin-left:auto;
        width: 500px;
        width: 300px;
        background-color: #250e3a;
    }
      

#spells,#bind, #about-box{
    position: absolute;
    top: 10;
    z-index: 9;
    visibility: hidden;
    background-color: rgba(0, 0, 0, 0.603);
    color: #ffffff;
}
#l{
    width: 700px;
    height: 300px;

}
a{
    text-decoration: none;
    color: #ffffff;
}
 
.e{
    width: 130px;
    height: 130px;
}
#S{
    
    width: 1050px;
    height: 743px;

}
#spells{
    padding: 0%;
    height: 540px;
    width: 900px;
}
#Y{ gap: 55px;
    display: grid;
    columns: 1;
    height: 500px;
    width: 300px;

}
.O{
     
    height: 70px;
    width: 200px;
}
.K img{
    
    vertical-align: middle;
 
}
.K input{
    color: #ffffffe8;
    background-color: #5e059141;
    
}
#A{
    display: flex;
    justify-content: right;
    position: absolute;
    top: 20px;
    height: 700px;
    width: 480px;
    background-color: #250e3a85;
}
#video{
    z-index: 5;
    width: 100px;
    position: absolute;
    top:1;
    right: 300px;
   display:grid;
   grid-column: 1;
} 
#D{
    
    display: grid;
    grid-column: 1;
    gap: 20px;
  position: absolute;
  top: 20px;
    height: 700px;
    width: 500px;
    background-color: #38175757;
    margin-left: 500px ;
}
#q1, #w2,#e3,#d4,#f5,#r6{
    color: rgba(0, 132, 255, 0.521);
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    position: relative;
    height: 116px;
    width: 90px;
background-color: #c71e8f42;
}
#D img {
    margin-bottom: 10px;
    margin-left: 0px;
}
#quas,#wex,#exort,#invoke{

     visibility: hidden;
}
#wex{
    position: absolute;
    top: 120px;

}
#exort{
    position:absolute;
    top: 240px;
}
#invoke{
    position:absolute;
    top: 466px;
} 
#special_bind {
    position: absolute;
    top:0px;
    height: 98px;
    width: 200px;
    background-color: #534c4c49;
    visibility: hidden;
    left: 236px;;
}

 

#about-box.visible {
    opacity: 1;  
}

#imeg {
    position: absolute;
    right: 35%;
    display: grid;
    grid-auto-flow: column;
    align-items: end;
    top: 400px; 
    gap: 10px;
    padding: 0px;
    width:55%;

}
#invok img {
    width: 50px;  
    height: 50px; 
    object-fit: cover;  
    border-radius: 50%;  
    margin: 5px;  
}

